// Colored button

@mixin btn-color($fg, $bg) {
  color: $fg;
  opacity: 0.8;
  border: 3px solid rgba(255, 255, 255, 0);
  transition: all 0.2s ease;

  &:hover,
  &.zeroclipboard-is-hover {
    color: $fg;
    border: 3px solid rgba(255, 255, 255, 0.3);
  }

  &:active,
  &.selected,
  &.zeroclipboard-is-active {
    background-color: rgba(255, 255, 255, 0.05);
  }

  &.selected:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
}
